@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F261C;
  --foreground: #EAFFE2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F261C;
    --foreground: #EAFFE2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 16px;
  padding: 24px;
  background-color: #FFF;
  margin-bottom: 16px;
}

.text-xl, .text-2xl, .text-4xl {

  color: #B4ED9F;
}

.text-2xl {

  margin-bottom: 8px;
}

li {
  display: grid;
  gap: 4px;
  background-color: #272E23;
  border-radius: 24px;
  padding: 24px;
  margin: 8px;
  
}