@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F261C;
  --foreground: #EAFFE2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F261C;
    --foreground: #EAFFE2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

img.product-image {
  border-radius: 4px;
  padding: 4px;
  background-color: #FFF;
  width: 80px;
}

img.list-image {
  border-radius: 8px;
  width: 56px;

}

.text-xl, .text-2xl, .text-4xl {

  color: #B4ED9F;
}

.text-2xl {

  margin-bottom: 8px;
}

li.list {
  display: grid;
  gap: 8px;
  background-color: #272E23;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  
}

ul {
  padding: 0px;
}

li {
  margin:0px;
}

li.product {
  display: grid;
  gap: 4px;
  background-color: #272E23;
  border-radius: 8px;
  padding: 16px;
  margin-bottom:8px;

  
}
li.form {
  display: grid;
  gap: 4px;
  background-color: #272E23;
  border-radius: 8px;
  padding: 16px;
  margin-bottom:8px;

  
}

.tag {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  color: #EAFFE2;
  background-color: #1F261C;
}
.menu-item {
  padding: 8px 16px 8px 16px;
  border-radius: 48px;
  color: #EAFFE2;
  background-color: #272E23;
}
.menu-item:hover {
  background-color: #1C2219;
}

input, select {
  background-color: #1F261C;
  padding: 1rem;
  border-radius: 4px;
}
input:focus, select:focus {
  outline-color: #B4ED9F;

}
input:hover, select:hover {
  background-color: #1C2219;
}
input::file-selector-button {
  background-color: #1F261C;
  color:#B4ED9F;
  padding: 0.5rem;
  border: thin solid #B4ED9F;
  border-radius: 4px;
}
button {
  background-color:#EAFFE2;
  color: #1F261C;
  padding: 1rem;
  border-radius: 4px;
}
button:hover {
  background-color:#B4ED9F;
}
.button-secondary {
  background-color:#1F261C;
  color: #EAFFE2;
  padding: 1rem;
  border-radius: 4px;
}
.button-secondary:hover {
  background-color:#1C2219;
}
.button-ghost {
  background-color:#272E23;
  color: #EAFFE2;
  padding: 1rem;
  border-radius: 4px;
}
.button-ghost:hover {
  background-color:#1F261C;
}
.container {
  width: 100%;
}

@media (min-width: 240px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1536px) {
  .container {
      max-width: 100%;
  }
}