@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f261c;
  --foreground: #eaffe2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f261c;
    --foreground: #eaffe2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

img.product-image {
  border-radius: 4px;
  padding: 4px;
  background-color: #fff;
  width: 80px;
}

img.list-image {
  border-radius: 8px;
  width: 56px;
}

.text-xl,
.text-2xl,
.text-4xl {
  color: #b4ed9f;
}

.text-2xl {
  margin-bottom: 8px;
}

li.list {
  display: grid;
  gap: 8px;
  background-color: #272e23;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

ul {
  padding: 0px;
}

li {
  margin: 0px;
}

li.product {
  display: grid;
  gap: 4px;
  background-color: #272e23;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}
li.form {
  display: grid;
  gap: 4px;
  background-color: #272e23;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}

.tag {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  color: #eaffe2;
  background-color: #1f261c;
}
.menu-item {
  padding: 8px 16px 8px 16px;
  border-radius: 48px;
  color: #eaffe2;
  background-color: #272e23;
}
.menu-item:hover {
  background-color: #1c2219;
}

input,
select {
  background-color: #1f261c;
  padding: 1rem;
  border-radius: 4px;
}
input:focus,
select:focus {
  outline-color: #b4ed9f;
}
input:hover,
select:hover {
  background-color: #1c2219;
}
input::file-selector-button {
  background-color: #1f261c;
  color: #b4ed9f;
  padding: 0.5rem;
  border: thin solid #b4ed9f;
  border-radius: 4px;
}
button {
  background-color: #eaffe2;
  color: #1f261c;
  padding: 1rem;
  border-radius: 4px;
}
button:hover {
  background-color: #b4ed9f;
}
.button-secondary {
  background-color: #1f261c;
  color: #eaffe2;
  padding: 1rem;
  border-radius: 4px;
}
.button-secondary:hover {
  background-color: #1c2219;
}
.button-ghost {
  background-color: #272e23;
  color: #eaffe2;
  padding: 1rem;
  border-radius: 4px;
}
.button-ghost:hover {
  background-color: #1f261c;
}
.container {
  width: 100%;
}

@media (min-width: 240px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 100%;
  }
}
